@import "libraries/typography";
.typo-normal {

  font-family: $normal;
}
.typo-easily-readable {
  font-family: $easily-readable;
}
.typo-title1 {
  font-family: $title1;
}
.typo-title2 {
  font-family: $title2;
}
.typo-formal{
  font-family: $formal;
}


span[data-tag="ribbon"]{
  position:relative;
  margin:0.1em;
  z-index: 1;
  &:before{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:0.1em;
    border-width:0.5em;
    border-style:solid;
    border-color:lightgreen;
    position:absolute;
    width:100%;
    border-left-color:transparent;
    border-right-color:transparent;
  }

}




span[data-tag="border"] {
      border: 2px dashed red;
      padding: 0.03em 0.25em;
    }

span[data-tag="sketch"] {

      position: relative;

      &:before {
        content: "";
        z-index: 1;
        left: 0em;
        top: 0em;
        border-width: 2px;
        border-style: solid;
        border-color: darkblue;
        position: absolute;
        border-right-color: transparent;
        width: 100%;
        height: 1em;
        transform: rotate(2deg);
        opacity: 0.5;
        border-radius: 0.25em;
      }

      &:after {
        content: "";
        z-index: 1;
        left: 0em;
        top: 0em;
        border-width: 2px;
        border-style: solid;
        border-color: darkblue;
        border-left-color: transparent;
        border-top-color: transparent;
        position: absolute;
        width: 100%;
        height: 1em;
        transform: rotate(-1deg);
        opacity: 0.5;
        border-radius: 0.25em;
      }
    }

span[data-tag="marker"] {
      position: relative;

      display: inline;
      &:before {
        content: "";
        background-color: #0070f35c;
        width: 100%;

        height: 1em;
        position: absolute;
        z-index: 0;
        filter: url(#marker-shape);
        left: -0.25em;
        top: 0.1em;
        padding: 0 0.25em;
      }
    }




