@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Roboto:ital@1&family=Shippori+Mincho+B1&display=swap');

$normal: 'Petit Formal Script', cursive ;

$easily-readable : 'Petit Formal Script', cursive;
$title1: 'Petit Formal Script', cursive;
$title2:'Shippori Mincho B1', serif;
$formal: 'Shippori Mincho B1', serif;

